$max_width: 960px;

.container {
  margin: 0 auto;
  max-width: $max_width; 
}

md-content {
  background-color: white;
}

.symbol-list-filters {
  padding: 20px;
  text-align: center;
}

.symbol-list-items {
  padding: 0;
}

.date {
  font-size: 0.8em;
}

.loading {
  margin: 40px;
  md-progress-circular {
    margin: 20px;
  }
}

.error {
  margin: 40px;
}
